// LanguageSelector.module.scss
.languageSelector {
    position: relative;
    display: inline-block;
    
    .trigger {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;
      font-size: 12px;
      color: #272727;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease;
      
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  
      
  
      .arrow {
        transition: transform 0.2s ease;
        margin-left: -2px;
  
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    .dropdown {
      position: absolute;
      top: calc(100% );
      right: 0;
      min-width: 2px;
      background: white;
      border: 1px solid #e5e7eb;
      border-radius: 24px;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                  0 2px 4px -1px rgba(0, 0, 0, 0.06);
      z-index: 10;
      overflow: hidden;
      text-align: center;
  
      .option {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.2rem;
        text-align: left;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
  
        
  
        .code {
          font-weight: 500;
          color: #00000029;
          min-width: 24px;

          &:hover {
            color: #272727;
          }
        }
  
        
      }
    }

    .lanDark{
      background-color: #012030;
      color: #FFFFFF;
    }
    .lanWhite{
      background: rgba(255, 255, 255, 0.95);
    }
  }